<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title>App</title>
  <link rel="stylesheet" href="{{ asset('bundles/acmeapp/css/style.css') }}" type="text/css" charset="utf-8">
  <script src="{{ asset('bundles/acmeapp/js/app.js') }}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    var jQuery  = require("jqueryify");
    var exports = this;
    jQuery(function(){
      var App = require("index");
      exports.app = new App({el: $("body")});   
      image = require("models/image");
      image.fetch();
    });
  </script>
</head>
<body></body>
</html>