@import './mixin'
*
	margin 0
	padding 0
	border-box()
body, html
	min-height 101%

.viewport
	width 600px
	min-height 400px
	margin 0 auto
	overflow hidden
	position relative
	transition height .2s ease
	img
		position absolute
		top 0
		left 0

.preloader
	position absolute
	bottom 0px
	right 0px
	width 1px
	height 1px
	display none

.minify
	position: fixed
	left 8px
	bottom 80px
	width 15px
	height 15px
	background-repeat no-repeat
	background-image: url('data:image/gif;base64,R0lGODlhDwAPAIAAAICAgP///yH5BAAAAAAALAAAAAAPAA8AAAIjjI8ZwO1tgEpyTVTzyzHuboUHF1YjSJ4lqJKbe7Ux+j6zUgAAOw==')
	box-shadow 2px 2px 3px 0px #333333
	z-index 5

.popup
	display block
	background white
	position absolute
	top -50px
	left 0
	opacity 0
	transition opacity .2s ease

.thumbsContainer
	width auto
	height 70px
	padding 5px
	// overflow hidden
	position fixed
	bottom 0
	left 0
	transition left .3s ease

.thumbList
	width 1600px
	height 60px
	margin 0 auto
	transition left .3s ease 
	.thumbnail
		display block
		float left
		margin 0 3px
		position relative
		border solid 1px transparent
		cursor pointer
		.thumbnail-img
			width 80px
			height 60px
			overflow hidden
			img
				margin 2px 
		&:before
			content ' '
			display block
			width 80px
			height 60px
			background rgba(0, 0, 0, .8)
			position absolute
			top 0
			left 0
		&.active:before
		&:hover:before
			background none transparent
			border solid 1px #999
		.image-name
			@extend .popup
			text-align center
		&:hover .image-name
			opacity 1