@import './mixin'
*
	box-sizing: border-box

.viewport
	width 600px
	height 400px
	margin 0 auto
	overflow hidden
	position relative
	img
		position absolute
		top 0
		left 0
		// transition left .25s ease

.preloader
	position absolute
	bottom 0px
	right 0px
	width 1px
	height 1px
	display none

.popup
	display block
	background white
	position absolute
	top -50px
	left 0
	opacity 0
	transition opacity .2s ease

.thumbsContainer
	width auto
	height 70px
	padding 5px
	// overflow hidden
	position fixed
	bottom 0
	left 0
	transition left .3s ease

.thumbList
	width 1600px
	height 60px
	margin 0 auto
	transition left .3s ease
	.thumbnail
		display block
		float left
		width 80px
		height 60px
		margin 0 3px
		position relative
		border solid 1px transparent
		outline solid 1px transparent
		cursor pointer
		&:before
			content ' '
			display block
			width 80px
			height 60px
			background rgba(0, 0, 0, .8)
			position absolute
			top 0
			left 0
		&.active:before
		&:hover:before
			background none transparent
			border solid 1px #999
			outline solid 1px #333
		.image-name
			@extend .popup
			text-align center
		&:hover .image-name
			opacity 1